 {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}LEGATUM | Firma de Abogados{% endblock %}</title>
  
  <meta name="description" content="LEGATUM - Firma de abogados en Guayaquil especializada en asesoría legal." />
  <meta name="author" content="LEGATUM Abogados" />
  <link rel="icon" href="{% static 'agenda/imagenes/favicon.ico' %}" type="image/x-icon" />

  {% block extra_css %}{% endblock %}
</head>
<body>
  
  {% block content %}{% endblock %}
  
  {% block extra_js %}{% endblock %}
</body>
</html>
