.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 30px !important;
  width: 100%;
  margin: auto;
}

.dashboard-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #e67aa5b0;
  border-radius: 16px;
  padding: 16px 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.dashboard-card-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #7ae6c4a9;
  border-radius: 16px;
  padding: 16px 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
.dashboard-card-1:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.card-icon {
  font-size: 32px;
  color: #61082cdd;
  margin-right: 15px;
}

.card-icon-1 {
  font-size: 32px;
  color: #054531d0;
  margin-right: 15px;
}

.card-info h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color:#61082cdd;

}
.card-info-1 h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color:#044430dc;

}

.card-info p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
.card-info-1 p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

