/* pages/Panel.css */



.panel-container {
  display: flex;
}

.panel-content {
  margin-left: 60px; /* igual al width de sidebar */
  transition: margin-left 0.3s;
  width: 93.8%;
  padding: 0 0px 0 20px;
  background: linear-gradient(rgba(235, 235, 241, 0.885), rgba(70, 110, 255, 0.465)),
              url("../assets/fondo_w.jpg") no-repeat center center;
  overflow-x: hidden;
}




.sidebar.expanded + .panel-content {
  margin-left: 230px; /* igual al expanded width */
  
}

.calendar-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2a2dcb; /* tu color corporativo */
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 0px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
 
}


